nav {
background-color: grey;
color: blue;
text-align: center;
float: center;
padding-top: 300px;
padding-left: 430px;

}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  font: white;
  position: relative;
  z-index: 2;
}
button active hover {
  background-color: skyblue;
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://unsplash.com/photos/WVziwa_DDwI') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

